body{
  background-color = white;
}
p{
  color: black;
  font-family: monospace;
  font-size:12pt;
}
a{
  color:blue;
}
a.hover{
  color:blue;
}
a.visited{
  color:red;
}
img{
  background-color:white;
}
div.links{
  max-width: 150px;
  width: 150px;
  margin: auto;
  background-color:red;
  display:inline-block;
  margin-left:50px;
}

iframe.yt{
  align:right;
  margin-left: 20px;
}

h1{
  font-size: 35pt;
  line-height: 40px;
}
